body {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  /* padding, etc. will honor the set width of boxes */
  box-sizing: border-box;
}

a {
  color: $mainOrange;
}